.body  {
    padding: 24;
    background: linear-gradient(#FCFCFE, #F3F4FB);
}

.titulo {
    font-size: 48;
    font-family: var(--font-bold);
    font-weight: bold;
    margin: 0 0 16 0;
    padding: 0;
}

.task-counter {
    font-size: 16;
}

.task-counter .__counter{
    color: #2825D6;
}

.card {
    width: 100%;
    box-shadow: 2 4 10 rgba(0, 0, 0, .45);
    padding: 16;
    border-radius: 8;
    margin: 48 24;
}

.card .__titulo {
    font-family: var(--font-bold);
    font-weight: bold;
    font-size: 20;
}
